*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}
header{
background-color: lightgray;
position: absolute;
width: 100%;
}
header img{
    padding-top: 10;
    position: relative;
}
nav{
    
    position: relative;
}
nav a {
     padding: 20px;
     font-size: 1.3em;
}

main{
    text-align: center;
}
main img{
    border-radius: 50%;
    width: 25%;
}
h1{
    font-family: Roboto,sans-serif;
}