body{
    background-color:rgb(37, 37, 37);
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
div{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: block;
}
h1{
    color: honeydew;

}
p{
   enable-background: aliceblue;
   
}